:root { 
--gray_50_00:#fdf1ff00; 
--indigo_A200_01:#627eea; 
--black_900_b2:#000000b2; 
--cyan_A200_01:#27e6ef; 
--cyan_A200_02:#29eef7; 
--deep_purple_200:#b086cc; 
--black_900_01:#010808; 
--teal_900:#053151; 
--blue_gray_900_02:#25054d; 
--blue_gray_900_01:#23292f; 
--pink_500:#e6007a; 
--blue_gray_900:#172852; 
--black_900_02:#031010; 
--gray_50_7e:#fdf1ff7e; 
--amber_900:#ff6f03; 
--gray_400:#b8b9bb; 
--orange_A400:#ff9300; 
--amber_500:#f0b90b; 
--lime_700:#c2a633; 
--blue_gray_500:#428a9b; 
--gray_900_9d:#1515159d; 
--orange_600:#ff8300; 
--white_A700_60:#ffffff60; 
--white_A700_66:#ffffff66; 
--cyan_400_05:#26dee6; 
--indigo_A700:#1f51ff; 
--cyan_400_03:#23ced6; 
--cyan_400_04:#25d6de; 
--cyan_400_01:#21bec5; 
--indigo_900_01:#143c7c; 
--cyan_400_02:#22c6ce; 
--cyan_600:#1fb7bd; 
--indigo_600:#3746a3; 
--teal_400_01:#1b9fa5; 
--deep_purple_A400_7e:#6029ff7e; 
--cyan_A200:#2af6ff; 
--indigo_A200_68:#6473fe68; 
--gray_900_33:#00092a33; 
--deep_purple_700:#4410c4; 
--orange_800_75:#c57e0075; 
--gray_900_e2:#0f141ce2; 
--amber_A200:#ffd83d; 
--deep_purple_300:#8969c3; 
--teal_400:#1a979c; 
--white_A700_cc:#ffffffcc; 
--white_A700_33:#ffffff33; 
--yellow_900:#f7931a; 
--teal_400_03:#1eafb5; 
--teal_400_02:#1ca7ad; 
--gray_900:#151515; 
--gray_100:#f5f5f5; 
--orange_100:#fed2a3; 
--indigo_300:#868fdb; 
--deep_purple_A700_01:#4808ff; 
--indigo_A400:#3b6be2; 
--blue_400:#3699ff; 
--gray_900_ea:#0f141cea; 
--cyan_900:#0f575a; 
--gray_900_33_01:#000e4033; 
--teal_700_01:#14777b; 
--white_A700_7e:#ffffff7e; 
--red_600:#e84142; 
--deep_purple_800:#4916a1; 
--white_A700_90:#ffffff90; 
--light_blue_500:#089cff; 
--lime_900_75:#724e0e75; 
--light_blue_900:#095a94; 
--teal_800_ad:#007946ad; 
--white_A700_99:#ffffff99; 
--teal_300:#53ae94; 
--indigo_A700_87:#1f51ff87; 
--green_A700:#00b662; 
--indigo_A200_3d:#6473fe3d; 
--indigo_A700_01:#3a4dff; 
--cyan_800_02:#188f94; 
--teal_700:#136f73; 
--cyan_800_01:#17878c; 
--indigo_A700_03:#2a49f9; 
--indigo_A700_02:#1e51ff; 
--purple_900:#45108a; 
--red_A700:#f30504; 
--indigo_A700_82:#1f51ff82; 
--blue_gray_400_75:#86868675; 
--deep_purple_A400_4c:#6029ff4c; 
--indigo_A700_7e:#1f51ff7e; 
--indigo_A200_59:#6473fe59; 
--blue_700:#2775ca; 
--amber_700:#ffa409; 
--amber_300:#fdd65b; 
--gray_200:#e6e7e8; 
--blue_50:#e1efff; 
--blue_gray_400_7e:#8686867e; 
--indigo_400:#545ec2; 
--indigo_A700_4c_01:#1e51ff4c; 
--gray_100_87:#f5f5f587; 
--indigo_A700_99:#1f51ff99; 
--teal_900_05:#006b39; 
--teal_900_04:#0e4f52; 
--cyan_800:#167f84; 
--indigo_A200_60:#6473fe60; 
--teal_900_03:#0c474a; 
--blue_gray_400_01:#868686; 
--teal_900_02:#0b3f42; 
--white_A700:#ffffff; 
--teal_900_01:#09383a; 
--cyan_400:#3cc8c8; 
--indigo_300_01:#819ec7; 
--cyan_A400:#00d7ff; 
--indigo_A700_4c:#1f51ff4c; 
--gray_900_75:#15151575; 
--indigo_A700_60_01:#1e51ff60; 
--red_900:#960900; 
--indigo_A200:#627eeb; 
--light_blue_400:#2ea8ff; 
--green_800:#00962a; 
--light_blue_800:#0078b7; 
--teal_900_75:#006b3975; 
--white_A700_75:#ffffff75; 
--indigo_A200_1e:#6473fe1e; 
--black_900:#000000; 
--yellow_700:#f3ba2f; 
--deep_orange_200:#f7aa90; 
--deep_purple_A700:#4200ff; 
--white_A700_6a:#ffffff6a; 
--purple_600:#7c1dc9; 
--indigo_A700_60:#1f51ff60; 
--gray_900_02:#041819; 
--gray_900_03:#052021; 
--white_A700_6c:#ffffff6c; 
--gray_900_04:#072829; 
--cyan_900_02:#12676b; 
--green_A700_75:#00b66275; 
--gray_900_05:#222222; 
--blue_gray_400:#8487a8; 
--gray_900_87:#15151587; 
--cyan_900_01:#105f63; 
--blue_gray_900_05:#1b223e; 
--blue_gray_900_04:#1e2f37; 
--gray_900_00:#0f141c00; 
--gray_900_01:#1f0d3d; 
--blue_gray_900_03:#083031; 
--light_blue_50:#e2f4ff; 
--gray_900_06:#0f141c; 
--gray_900_07:#191c2e; 
--white_A700_87:#ffffff87; 
--indigo_100:#cac6fc; 
--indigo_A700_75:#1f51ff75; 
--gray_900_7e:#1515157e; 
--white_A700_07:#ffffff07; 
--indigo_900:#133b7c; 
--blue_200:#8cbfff; 
--blue_400_01:#45a5f4; 
}